.filter {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 25px;
}

.filter__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__label {
  margin-left: 45px;
  font-size: 16px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
}
