.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  width: 100%;
  color: $basic_black;
  text-transform: uppercase;
}

.main-nav__item {
  width: 100%;
  text-align: center;
  height: 66px;
  line-height: 66px;
}

.main-nav__item:hover {
  opacity: 0.6;
}

.main-nav__item:active {
  opacity: 0.3;
}

.main-nav__item a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.main-nav__item--current a {
  text-decoration: solid underline $basic_green 2px;
  text-underline-offset: 8px;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 140px;
  }

  .main-nav__list a {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }

  .main-nav__item {
    width: auto;
    height: auto;
    margin-top: 42px;
  }

  .main-nav__item--current a {
    text-underline-offset: 10px;
  }
}
