.page-footer {
  background-color: $basic_grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(#{$tablet-width} - 1px);
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__logo {
  margin-top: 39px;
  margin-bottom: 32px;
}

.page-footer__logo:hover img {
  opacity: 0.8;
}

.page-footer__logo:active img {
  opacity: 0.6;
}

.page-footer__social {
  width: 100%;
}

.social__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
}

.page-footer__copyright {
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  width: 100%;
  cursor: pointer;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $special_dark-grey;
  height: 78px;
}

.copyright__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: calc(#{$desktop-width} - 1px);
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-footer__logo {
    width: 128px;
    height: 24px;
    margin-top: 60px;
    margin-bottom: 66px;
  }

  .page-footer__social {
    width: 129px;
  }

  .page-footer__copyright {
    width: 163px;
    margin: 0;
    margin-top: 54px;
    margin-bottom: 62px;
  }
}
